.createTask {
	display: flex;
  background-color: whitesmoke;
	border-radius: 2rem;
	padding: 1.5rem 1rem 1.5rem 1rem;
	border: none;
}

.input {
	width: 100%;
	border: none;
	outline: none;
	background: transparent;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5rem;
  color: black;
}

.input::placeholder {
  color: black;
}


@media (min-width: 640px) {}

@media (min-width: 768px) {

  .createTask {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}

