.createTask {
  background-color: whitesmoke;
	border-radius: 0.8rem;
	padding: 1rem;
	border: none;
	height: 3rem;
}

.input {
	width: 100%;
	border: none;
	outline: none;
	background: transparent;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5rem;
  color: black;
}

.input::placeholder {
  color: black;
}




/* Media quieries */
@media screen and (max-width: 1000px) {
	.createTask {
		padding: 15px 20px;
		margin-bottom: 15px;
	}

	.input {
		font-size: 13px;
	}
}
