ul {
  list-style-type: none;
  margin: 0;
  height: 50rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 0;

}

ul::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 8px;  
}

ul::-webkit-scrollbar-thumb{
  border-radius: 2rem;
  background-color: black;
}

.sectionList {
  display: flex;
  flex-direction: column;


}


