ul {
  list-style-type: none;
  padding: 0 1rem 2rem 1rem;
  height: 50rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

ul::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 8px;  
}

ul::-webkit-scrollbar-thumb{
  border-radius: 2rem;
  background-color: black;
}


