* {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  /* padding: 3rem; */
  min-height: 100vh;
  width: 80vw;
  /* display: flex; */
  display: flex;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  flex-wrap: wrap;
}

.container1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  min-width: 20rem;
  background-color: white;
  margin: 1rem 0 0 0;
  padding: 1rem 4rem 2rem 4rem;
  max-height: 800px;
  border-radius: 2rem;
}

.container2 {
  min-width: 30rem;
  padding: 0.5rem 2rem 4rem 4rem;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-content: center;
}


.title {
  font-size: 4.5rem;
  text-align: center;
  color: black;
  margin: 2rem 0;
}

.subtitle {
  text-align: center;
  margin-top: 0;
  font-size: 2rem;
}

img {
  width: 4.8rem;
}



/* ========== Media Queries ========== */


@media (min-width: 640px) {}

@media (min-width: 768px) {
  #root {
    display: grid;
  }

  .container1 {
    min-width: 20rem;
    margin: 3rem;
    flex-direction: column;
    padding: 4rem 4rem 1rem 4rem;

  }

  .container2 {
    margin-top: 4rem;

  }

  .title {
    margin: 3rem 0;
  }

  img {
    width: 30rem;
    padding-bottom: 5rem;

  }


  .relleno {
    flex: 1;
  }
  
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}