* {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  /* padding: 3rem; */
  min-height: 100vh;
  width: 80vw;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  flex-wrap: wrap;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  min-width: 30rem;
  background-color: white;
  padding: 4rem 4rem 1rem 4rem;
  max-height: 800px;
  border-radius: 2rem;
  /* box-shadow: */
}

.container2 {
  margin-top: 4rem;
  min-width: 30rem;
  padding: 0.5rem 2rem 4rem 4rem;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-content: center;
}


.title {
  font-size: 4.5rem;
  text-align: center;
  /* background: -webkit-linear-gradient(#abecd6, #fbed96); */
  background-color: black;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  text-align: center;
  margin-top: 0;
  font-size: 2rem;
}

img {
  width: 30rem;
  padding-bottom: 5rem;
}

.relleno {
  flex: 1;
}