* {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 3rem;
}

.container1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: white;
  border-radius: 2rem;
  width: 100%;
  height: min-content;
  margin-top: 3rem;
}

.container2 {
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: max-content;
}

.container3 {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 2rem 2rem 0 0;
  width: 100%;
  align-items: center;
  padding-top: 1rem;
}

.made-by-container {
  display: none;
}

.container3 p {
  margin: 0;
  font-size: 16px;
  margin-bottom: 10px;
}
.gh-link {
  color: black;
  size: 40px;
}

.div-container1 {
  width: 100%;
}


.title {
  font-size: 4.5rem;
  text-align: center;
  color: black;
  margin: 2rem 0;

  /* Propiedad en prueba */
  display: none;
}

.subtitle {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2rem;
}

.subtitle-container1 {
  text-align: center;
  margin-top: 0rem;
  font-size: 2rem;
}

img {
  width: 4.8rem;
}

.relleno-container3 {
  flex:1 1 0;
}


/* ========== Media Queries ========== */


@media (min-width: 640px) {}

@media (min-width: 768px) {
  #root {
    display: grid;
    width: 80vw;

  }

  .container1 {
    min-width: 20rem;
    margin: 3rem;
    flex-direction: column;
    padding: 4rem 4rem 1rem 4rem;
    width: auto;
    margin: 3rem 0 3rem 0;
    height: 60rem;
  }

  .container2 {
    margin-top: 4rem;
    padding: 0.5rem 2rem 4rem 4rem;
    max-height: 800px;

  }

  .div-container1 {
    width: 80%;
  }

  .title {
    margin: 3rem 0;
    display: block;
  }

  img {
    width: 30rem;
  }


  .relleno {
    flex: 1;
  }

.container3 {
  display: none;
}

.made-by-container {
  display: flex;
  flex-direction: column;
  border-radius: 2rem 2rem 0 0;
  width: 100%;
  align-items: center;
  font-size: 2.4rem;
}

}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}