.TaskItem {
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.TaskItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 12rem);
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 400;
  
}

.TaskItem-p--complete {
  text-decoration: line-through rgba(0, 0, 0, 0.425);
}

.TaskItem-li--complete {
  background-color: rgba(0, 0, 0, 0.06);
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  /* background-color: #CCC; */
}

.Icon-check {
  position: absolute;
  left: 12px;
}

.Icon-check--active {
  color: #4caf50;
}

.Icon-delete {
  position: absolute;
  top: -24px;
  right: 0;
}

.Icon-delete:hover {
  color: red;
}

li {
  list-style: none;
  margin: 0rem 0;
  background-color: white;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  position: relative;
  font-weight: bold;
  font-size: 1.1rem;
  white-space: pre-line;
}

@media (min-width: 640px) {}

@media (min-width: 768px) {
  .TaskItem-p {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}